* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
button {
  padding: 20px 40px;
  background-color: rgb(60, 159, 60);
  color: white;
  font-weight: 600;
  border: 1px solid white;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
